<div class="place-card">
    <h3><a href="{% url 'place_detail' place.id %}">{{ place.name }}</a></h3>
    <p>{{ place.description|truncatewords:10 }}...</p>
    <p><strong>Тип:</strong> {{ place.place_type }}</p>
    <p><strong>Локація:</strong> {% if place.location %}{{ place.location }}{% else %}Secret place👀{% endif %}</p>
    <p><strong>Рейтинг:</strong> 
        {% for _ in "12345"|slice:":place.rating" %}⭐{% endfor %}
    </p>
    <p><strong>Відгук створено:</strong> {{ place.review_date|date:"d M Y" }}</p>
    {% load static %}
    <img src="{% static 'images/standard_place_photo.jpg' %}" alt="Фото {{ place.name }}">
</div>